.clinicTime {
  .table {
    border: none;
    width: 100%;
    .header {
      color: #fff;
    }
    .body {
      background-color: #fff;
      tr:nth-child(2) {
        background-color: $fufu-quaternary;
      }
    }
    th,
    td {
      text-align: center;
      vertical-align: middle;
      padding: 16px 8px;
      border-collapse: collapse;
    }
    td {
      height: 85px;
      &.work {
        color: $fufu-secondary;
      }
      &.break {
        color: $gray-400;
      }
      p.time {
        font-size: 0.8rem;
        &:nth-child(3) {
          font-size: 0.5rem;
        }
      }
    }
    @include sm {
      width: 100%;
      th,
      td {
        min-width: 80px;
        padding: 8px 2px;
      }
    }
  }
  .remarks {
    font-weight: 300;
    font-size: 0.9rem;
  }
}
