.nav {
  position: absolute;
  z-index: 20;
  .container {
    @include md {
      max-width: unset;
    }
  }
}

.text-size {
  color: #fff;
  li {
    padding: 0 4px;
  }
  .medium {
    font-size: 16px;
  }
  .large {
    font-size: 24px;
  }
  .xlarge {
    font-size: 30px;
  }
}
