@import "./style/reset";
@import "./style/variables";
@import "./style/basic";
@import "./style/layout";
@import "./style/mixin";
@import "./style/components";

html,
body,
#root,
.App {
  height: 100%;
  font-family: custom-font-family;
}

.App {
  height: unset;
  min-height: 100%;
}

body {
  background-color: $fufu-quaternary;
}

.body {
  padding-bottom: $footer-height;
}
